.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px 60px;
    background: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9 100%);
    user-select: none;
}
.game {
    display: flex;
    width: 430px;
    aspect-ratio: 1 / 1;
    flex-wrap: wrap;
    gap: 10px;

}
.item {
    position: relative;
    display: flex;
    width: 100px;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
    background-color: #ffffff;
}
.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #404040;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.item.box-open {
    transform: rotateY(0deg);
}
.box-open::after {
    transform: rotateY(180deg);
}
.box-match::after {
    transform: rotateY(180deg);
}
.popup {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    font-weight: 600;
    text-transform: uppercase;
    color: #03d303;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.25s;
}
@media screen and (max-width: 450px), screen and (max-height: 450px) {
    .container {
        padding: 20px 20px;
    }
    .game {
        width: 350px;
    }
    .item {
        width: 80px;
    }
}
@media screen and (max-width: 360px), screen and (max-height: 360px) {
    body {
        width: max-content;
    }
    .game {
        width: 310px;
    }
    .item {
        width: 70px;
    }
}